*.axf
*.cpio.gz
*.dts
*.dtsi
*.o
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
dtc
fdt.dtb
Image
Xen
install-sh
Makefile
Makefile.in
missing
model.lds
patches/
